body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/*Es requerimiento del cliente*/
	max-width: 1300px;
	min-height: 1300px;
	background: #2B2B2B;
	font-family: 'Catamaran', sans-serif;
}
#menu{
	padding-top: 2px;
	height: 55px;
	/*position: relative;*/
	padding-left: 120px;
	margin-bottom: 20px;
}
#logo{
	width: 200px;
	margin-left: -15px;
	position: relative;
}
#primerseccion{
	padding-bottom: 30px;
}
#segundaseccion img{
	width: 300px;
}
#segundaseccion {
	padding-top: 25px;
	border-top: 1px solid gray;
}
#primerseccion article{
	display: inline-block;
	vertical-align: top;
	width: 18%;
	margin-top: 27px;
	padding-top: 40px;
	padding-right: 10px;
	padding-left: 10px; 
	padding-bottom: 60px;
	margin-left: -5px;

}
#segundaseccion article{
	display: inline-block;
	vertical-align: top;
	/*border-top: 1px dashed gray;*/
	width: 20%;
	margin-right: 150px;

}
#secc01art01{
	background: rgb(180,208,82);
	color: white;
}
#secc01art02{
	color: white;
	background: rgb(84,84,84);
}
#secc01art03{
	background: rgb(212,45,63);
	color: white;
}
#secc01art04{
	background: rgb(228,228,228);
	color: gray;
}

header{
	background: white;
}
header input{
	float: left;
	margin-left: :-200px;
	margin-top: 8px;
	width: 125px;
}
section nav ul li {
	list-style-type: none;
	color: white;
	font-size: 1.5em;
	/*text-decoration: underline;*/
	padding-bottom: 2px;
	
}
/*section article*/
.letragrande{
	font-size: 1.7em;
}
.nito{
	font-weight: bold; /*negritas*/
}
.colorgris{
	color: #9E9E9E;
}
