body{
	font-size: 16px; /*1em*/
	margin: 0px auto;
	/*Es requerimiento del cliente*/
	max-width: 1078px;
	min-height: 1078px;
	background: #3A417F;
}
#bgoffer{
	left: -35px;
	position: relative;
	top: -410px;
}
#granthams{
	margin-left: 25px;
	margin-top: 25px;
}
#paint{
	float:right;
}
header input{
	float: right;
	margin-right:-200px;
	margin-top: 15px;
	position: relative;
}
header nav ul li {
	display: inline-block;
	color: white;
	font-size: 1.8em;
	margin-right: 15px;
	border-bottom: 1px solid white;
	/*text-decoration: underline;*/
	padding-bottom: 2px;
}
header nav{
	/*text-align: center;*/
	margin-left: 220px;
	
}
#primerseccion{
	/*border: 1px solid red;*/
	height: 318px;
	margin-top: 60px;
}
#primerseccion article{
	display: inline-block;
	/*border: 1px solid blue;*/
	vertical-align: top;
}
#secc01art01{
	margin-left: 30px;
	width: 61%;
}
#secc01art02{
	margin-left: 50px;
	width: 30%;
	color: white;
}
#secc01art02 ul{
	list-style: none; 	/*quitamos viñetas*/
}
#secc01art02 ul li:before{
	color: #b28787;
	content:  "• ";
}
#secc03art01{
	color: white;
}
#secc03art02{
	color: white;
}
#secc03art03{
	color: white;
}
#secc03art04{
	padding-top: 60px;
	color: white;
}
#segundaseccion article{
	padding-right: 122px;
	text-align: right;
}
#terceraseccion article{
	display: inline-block;
	padding-left: 5px;
	vertical-align: top;
	width: 23%;
}
#terceraseccion article img{
	vertical-align: middle;
}
#terceraseccion input[type="email"]{
	border-radius: 5px;
}
#terceraseccion input[type="button"]{
	background: #8BC500;
	border-radius: 5px;
	color: white;
}
.colorazul{
	color: #4267B3;
}
.colorrosa{
	color: #FF0099;
}
.colorverde{
	color: #BBC500;
}
.letragrande{
	font-size: 3.5em;/*3.5*16*/
}
.letramediana{
	font-size: 2em;
}
.nito{
	font-weight: bold; /*negritas*/
}














